<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Poca - Podcast &amp; Audio Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>McEliece - Encrypt/Decrypt</title>
  <link rel="icon" href="../static/img/core-img/2592317.png">
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/encrypt.css">
  <script src="../static/js/encrypt.js"></script>
  
  
</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preloader-thumbnail">
      <img src="../static/img/core-img/2592317.png" alt="">
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <nav class="classy-navbar justify-content-between" id="pocaNav">
          <a class="nav-brand" href="index.html">
            <img src="../static/img/core-img/2592317.png" alt=""> 
            <span>MCELIECE</span>
          </a>

          <div class="classy-menu">
            <div class="classynav">
              <ul id="nav">
                <li><a href="./index.html">Home</a></li>
                <li class="current-item"><a href="./encrypt.html">McEliece</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./help.html">Help</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>

              <div class="top-social-area">
                <a href="https://vi-vn.facebook.com/" class="fa fa-facebook" aria-hidden="true" style="margin-left: 26px;" target="_blank"></a>
                <a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true" target="_blank"></a>
                <a href="https://www.pinterest.com/" class="fa fa-pinterest" aria-hidden="true" target="_blank"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram" aria-hidden="true" target="_blank"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube-play" aria-hidden="true" target="_blank"></a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
	

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../static/img/bg-img/bg.avif);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title mt-70">Encrypt/Decrypt</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./index.html"><i class="fa fa-home"></i> Home</a></p>
              <li class="breadcrumb-item active" aria-current="page">Encrypt/Decrypt</p>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->


  <!-- ***** encrypt/decrypt file start ***** -->
  <div class="poca-featured-music-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12">   

            <div id="encrypt" class="encrypt">
                <div class="side-left side-container" id="process__1">
                    <form action="/cipher" method="post" enctype="multipart/form-data" id="cipher" onsubmit="return submitForm(event)">  
                        <h1>ENCRYPT DATA</h1>
                        <span>Upload your original data that you want to encrypt</span>
                        <span>(Only accept .txt and .xlsx file)</span>
                        <input type="file" name="file" id="file-cipher" accept=".txt, .xlsx">
                        <button type="submit" id="submit-file-original">Encrypt</button>
                        <div id="spinner" style="display:none;">
                            <i class="fa fa-spinner fa-spin"></i> Encrypting
                        </div>                        
                    </form>
                </div>

                <div class="side-right side-container">
                    <form action="/plain" method="post" enctype="multipart/form-data" id="plain" onsubmit="return submitForm_2(event)">   
                        <h1>DECRYPT DATA</h1>
                        <span>Upload your cipher data that you want to decrypt</span>
                        <span>(Only accept .txt and .xlsx file)</span>
                        <input type="file" name="file" accept=".txt, .xlsx" id="file-plain" >
                        <button type="submit" id="submit-file-cipher" >Decrypt</button>
                        <div id="spinner_2" style="display:none;">
                            <i class="fa fa-spinner fa-spin"></i> Decrypting
                        </div>                        
                    </form>
                </div>
            </div>

            <div class="poca-music-area box-shadow d-flex align-items-center flex-wrap border" data-animation="fadeInUp" data-delay="900ms" id="add_file">
              <!-- Flask will respon result in here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** encrypt/decrypt file End ***** -->


  <!-- ***** Newsletter Area Start ***** -->
  <section class="poca-newsletter-area bg-img bg-overlay pt-50 jarallax" style="background-image: url(../static/img/bg-img/bg.avif);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6">
          <div class="newsletter-content mb-50">
            <h2>Contact for support</h2>
            <h6>Or will receive all notifications from us</h6>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="newsletter-form mb-50">
            <form action="#!" method="post">
              <input type="email" name="nl-email" class="form-control" placeholder="Your Email">
              <button type="submit" class="btn">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Newsletter Area End ***** -->


  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-12 col-lg-6">
          <div class="single-footer-widget mb-80">            
            <h4 class="widget-title">Graduation thesis title</h4>
            <p>
              <strong>
                "APPLICATION OF PARALLEL PROCESSING WITH LARGE MATRIX MULTIPLICATION 
                FOR PUBLIC KEY MESSAGE ENCRYPTION USING MCELIECE CRYPTOSYSTEM"
              </strong>
            </p>
            <div class="copywrite-content">
              <p>&copy; 
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <h4 class="widget-title">Student name made</h4>

            <div class="single-latest-episodes">
              <p class="episodes-date"><b>Instructors</b></p>
              <p class="episodes-title-Instructors">ThS. Đo Ha Phuong</p>
            </div>

            <div class="single-latest-episodes">
              <p class="episodes-date"><b>Student made</b></p>
              <a href="./about.html" class="episodes-title">Huynh Duy Quang - 19520141</a>
              <a href="./about.html" class="episodes-title">Tran Xuan Thang - 19524341</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <h4 class="widget-title">Follow Us</h4>
            <div class="footer-social-info">
              <a href="https://vi-vn.facebook.com/" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.pinterest.com/" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="https://www.instagram.com/" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.youtube.com/" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
            </div>
            <div class="app-download-button mt-30" style="display: flex; gap: 16px;">
              <img src="../static/img/core-img/app-store.png" alt="">
              <img src="../static/img/core-img/google-play.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <script src="../static/js/info.js"></script>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/poca.bundle.js"></script>
  <script src="../static/js/default-assets/active.js"></script>

  <script>
    function submitForm(event) {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);

      const spinner = document.getElementById("spinner");
      spinner.style.display = "block";

      const dateString = `${new Date().getDate().toString().padStart(2, '0')}/${(new Date().getMonth() + 1).toString().padStart(2, '0')}/${new Date().getFullYear().toString().slice(-2)}`;
      const xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
              const result = xhr.responseText;
              const resultDiv_cha = document.getElementById('add_file');
              spinner.style.display = "none";
              resultDiv_cha.innerHTML = '<div class="poca-music-content"><span class="music-published-date">'+ dateString +' - CipherText</span><div class="music-meta-data"><p>'+ result +'</p><div><a href="http://localhost:5000/download-cipher" id="download-cipher"><i class="fa fa-download" aria-hidden="true"></i> Download</a></div></div></div>';
          }
      };
      xhr.open('POST', form.action);
      xhr.send(formData);
      return false;
    }

    function submitForm_2(event) {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);

      const spinner_2 = document.getElementById("spinner_2");
      spinner_2.style.display = "block";

      const dateString = `${new Date().getDate().toString().padStart(2, '0')}/${(new Date().getMonth() + 1).toString().padStart(2, '0')}/${new Date().getFullYear().toString().slice(-2)}`;
      const xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
              const result = xhr.responseText;
              const resultDiv_cha = document.getElementById('add_file');
              spinner_2.style.display = "none";
              resultDiv_cha.innerHTML = '<div class="poca-music-content"><span class="music-published-date">'+ dateString +' - PlainText</span><div class="music-meta-data"><p>'+ result +'</p><div><a href="http://localhost:5000/download-plain" id="download-plain"><i class="fa fa-download" aria-hidden="true"></i> Download</a></div></div></div>';
          }
      };
      xhr.open('POST', form.action);
      xhr.send(formData);
      return false;
    }
  </script>
</body>
</html>